* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1; /* Ocupará todo el espacio disponible */
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
    padding: 50px 0;
}

.imagen img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.campo label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    background-color: #ddd;
}

.btn-iniciar {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.btn-iniciar:hover {
    background-color: #e68a00;
}

/* Botón Home */
.btn-home {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/*Footer*/
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}


.footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaciado entre elementos */
}

.footer-contenido img {
    width: 120px; /* Tamaño del logo */
}

.footer-contenido p {
    font-size: 14px;
    opacity: 0.8; /* Hace que el texto sea menos intenso */
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }