.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
    padding: 50px 0;
}

.btn-iniciar {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.btn-iniciar:hover {
    background-color: #e68a00;
}

.btn-empresa {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s, box-shadow 0.2s;

  &:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

