<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.component.scss">
  <title>Document</title>
</head>
<body>
<header>
  <div><img src="imagenes/logo.PNG" alt="" width="200px"></div>
  <nav>
    <button>Registrate</button>
  </nav>
</header>
<main>

  <section class="bienvenida">
    <div><img src="imagenes/imagenMainSillaRuedas.PNG" alt="Persona en silla de ruedas"></div>

    <div class="texto">
      <h2>Sin Fronteras</h2>
      <p>Bienvenidos a Sin Fronteras, un espacio <br>
        diseñado para todos. Nuestra <br>
        plataforma está creada para ser <br>
        accesible, fácil de usar y amigable para <br>
        personas con discapacidad. Aquí encontrarás herramientas, recursos y <br>
        una experiencia de navegación adaptada a tus necesidades." <br>
      </p>
    </div>

  </section>
  <section class="frases-destacadas">
    <blockquote>"En Sin Fronteras, no hay límites para conectar, aprender y compartir."</blockquote>
    <blockquote>""La discapacidad no nos define, pero sí nuestra fuerza y determinación.""</blockquote>
    <blockquote>""La verdadera discapacidad no está en el cuerpo ni en la mente, sino en las barreras que nos separan. Aquí, las derribamos juntos.""</blockquote>
    <blockquote>"Un espacio para todos, sin barreras ni prejuicios. ¡Bienvenido!"</blockquote>
    <div><img src="imagenes/imagenMain2Futbol.PNG" alt="Personas Jugando Futbol"></div>
  </section>

  <section class="beneficios">
    <div><img src="imagenes/imagenMain3ApretonManos.PNG" alt="Personas en una mesa"></div>
    <h2>PUEDES ENCONTRAR:</h2>
    <ul>
      <li><strong>Bolsa de empleo:</strong> Un lugar para buscar nuevas oportunidades</li>
      <li><strong>Rutas:</strong> Encontraras rutas de nuestros buses inclusivos, asi poder movilizarte comodamente.</li>
      <li><strong>Eventos:</strong> Encontraras eventos diarios, charlas y mas actividades !!</li>
      <li><strong>Foro:</strong> Podras comentar con otros usuarios experiencias, consejos, anecdotas</li>
    </ul>
  </section>

  <section class="testimonios">
    <h2>Comentarios de algunos usuarios:</h2>
    <article class="comentario">
      <blockquote>
        "Gracias a Sin Fronteras,
        encontré amigos que
        entienden mis desafíos y me
        motivan cada día."
      </blockquote>
      <cite>- Jose Andres</cite>
    </article>
    <article class="comentario">
      <blockquote>
        "Este foro me ayudó a
        encontrar recursos para
        mejorar mi calidad de vida."
      </blockquote>
      <cite>- Marco Aurelio</cite>
    </article>
    <article class="comentario">
      <blockquote>
        “Pude conocer mas gente gracias
        a los increíbles eventos de los voluntarios.”
      </blockquote>
      <cite>- Martina Antonia</cite>
    </article>

  </section>

  <section class="registro">
    <h2>Si quieres acceder a todos nuestros beneficios puedes registrarte:</h2>
    <div class="botones">
      <button>Registrarse</button>
      <button>Iniciar Sesion</button>
    </div>

  </section>

</main>
<footer class="footer">
  <div class="footer-contenido">
    <img src="imagenes/footerLogo.PNG" alt="Logo Sin Fronteras">
    <p>© 2025 Sin Fronteras </p>
  </div>
</footer>
</body>
</html>