<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sin Fronteras</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <app-navbar></app-navbar>
  <!-- Carrusel -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="imagenes/voluntariado.jpg" class="d-block w-100" alt="se parte de nosotros">
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Quieres ser voluntario?</h5>
          <p>Tu ayuda hace la diferencia</p>
          <a class="btn btn-warning" href="#">Regístrate Ahora</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="imagenes/reuniones.jpg" class="d-block w-100" alt="reunete con nosotros">
        <div class="carousel-caption d-none d-md-block">
          <h5>Únete a nuestra comunidad</h5>
          <p>Descubre nuevas oportunidades</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <!-- Sección de Bienvenida -->
  <section class="container-fluid py-5 bienvenida">
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded" src="imagenes/imagenMainSillaRuedas.PNG" style="object-fit: cover;" alt="Persona en silla de ruedas">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="border-start border-5 border-primary ps-5 mb-5">
            <h6 class="text-primary text-uppercase">Bienvenidos</h6>
            <h1 class="display-5 text-uppercase mb-0">Un espacio accesible para todos</h1>
          </div>
          <h4 class="text-body mb-4">Nuestra plataforma está diseñada para ser inclusiva, fácil de usar y amigable para personas con discapacidad.</h4>
          <mat-card appearance="outlined">
            <mat-card-content>
              <!-- Sección de tabs con el efecto de cambio de contenido -->
              <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                <li class="nav-item w-50" role="presentation">
                  <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">Nuestra misión</button>
                </li>
                <li class="nav-item w-50" role="presentation">
                  <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">Nuestra visión</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                  <p class="mb-0">"En Sin Fronteras, nuestra misión es brindar un espacio digital inclusivo donde todas las personas, sin importar sus capacidades, puedan acceder a oportunidades laborales, y recursos."</p>
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                  <p class="mb-0">"Ser la comunidad líder en inclusión digital, promoviendo la accesibilidad y eliminando barreras tecnológicas para una sociedad más equitativa."</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="frases-destacadas" >
    <div class="container-fluid bg-offer my-5 py-5 ">
      <div class="container py-5">
        <div class="row gx-5 justify-content-start">
          <div class="col-lg-7">
            <div class="border-start border-5 border-dark ps-5 mb-5">
              <h1 class="display-5 text-uppercase text-white mb-0">La verdadera discapacidad no está en el cuerpo ni en la mente, sino en las barreras que nos separan. Aquí, las derribamos juntos.</h1>
            </div>
            <p class="text-white mb-4">Aprovecha esta oferta especial y da a tu mascota el mejor cuidado veterinario. Ofrecemos una amplia gama de servicios para asegurar la salud y el bienestar de tu compañero peludo.</p>
            <a href="" class="btn btn-light py-md-3 px-md-5 me-3">Agenda Ahora</a>
            <a href="" class="btn btn-outline-light py-md-3 px-md-5">Leer Más</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="beneficios">
    <div class="container-fluid py-5">
      <div class="container">
          <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 1000px;">
              <h6 class="text-primary text-uppercase">Beneficios</h6>
              <h1 class="display-5 text-uppercase mb-0">Tenemos lo que buscas, aqui puedes encontrar</h1>
          </div>
          <div class="contenido">
            <div class="cards">
              <mat-card appearance="outlined" class="card empleo">
                <mat-card-header>
                  <mat-card-title>Bolsa de empleo</mat-card-title>
                  <mat-card-subtitle>Un lugar para buscar nuevas oportunidades</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <mat-card appearance="outlined" class="card rutas">
                <mat-card-header>
                  <mat-card-title>Rutas</mat-card-title>
                  <mat-card-subtitle>Encuentra rutas de nuestros buses inclusivos</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <mat-card appearance="outlined" class="card eventos">
                <mat-card-header>
                  <mat-card-title>Eventos</mat-card-title>
                  <mat-card-subtitle>Charlas, actividades y más eventos diarios</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <mat-card appearance="outlined" class="card foro">
                <mat-card-header>
                  <mat-card-title>Foro</mat-card-title>
                  <mat-card-subtitle>Comparte experiencias, consejos y anécdotas</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="imagen">
              <img src="imagenes/imagenMain3ApretonManos.PNG" alt="Personas en una mesa">
            </div>
          </div>
      </div>
    </div>

  </section>

  <section class="testimonios">
    <h2>Comentarios de algunos usuarios:</h2>
    <div class="d-flex flex-wrap justify-content-center gap-4">
        <mat-card appearance="outlined" class="d-flex flex-column align-items-center p-4" style="width: 300px; height: 350px;">
            <mat-card-header class="text-center">
                <div class="d-flex flex-column align-items-center">
                    <mat-card-title>Jose Andres</mat-card-title>
                    <i class="bi-person text-primary fs-1 text-primary mt-2"></i>
                </div>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-center align-items-center flex-grow-1">
                "Gracias a Sin Fronteras, encontré amigos que entienden mis desafíos y me motivan cada día."
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="d-flex flex-column align-items-center p-4" style="width: 300px; height: 350px;">
            <mat-card-header class="text-center">
                <div class="d-flex flex-column align-items-center">
                    <mat-card-title>Marco Aurelio</mat-card-title>
                    <i class="bi-person text-primary fs-1 text-primary mt-2"></i>
                </div>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-center align-items-center flex-grow-1">
                "Este foro me ayudó a encontrar recursos para mejorar mi calidad de vida."
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="d-flex flex-column align-items-center p-4" style="width: 300px; height: 350px;">
            <mat-card-header class="text-center">
                <div class="d-flex flex-column align-items-center">
                    <mat-card-title>Martina Antonia</mat-card-title>
                    <i class="bi-person text-primary fs-1 text-primary mt-2"></i>
                </div>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-center align-items-center flex-grow-1">
                “Pude conocer más gente gracias a los increíbles eventos de los voluntarios.”
            </mat-card-content>
        </mat-card>
    </div>
  </section>

  <section class="registro">
    <h2>Si quieres acceder a todos nuestros beneficios puedes registrarte:</h2>
    <div class="botones">
      <button routerLink="/registrate">Registrarse</button>
      <button routerLink="/login">Iniciar Sesión</button>
    </div>

  </section>
  <div class="text-center mt-3">
    <small class="text-muted">
      ¿Eres administrador?
      <a routerLink="/login-admin" class="text-decoration-underline">Inicia sesión aquí</a>
    </small>
  </div>


  <app-footer></app-footer>
  <!-- Back to Top -->
  <a href="#" class="btn btn-primary py-3 fs-4 back-to-top">
    <i class="bi bi-arrow-up">
      ::before == $0
    </i>
  </a>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
