<div class="dashboard-container">
  <h1 class="welcome-title">Bienvenido Administrador</h1>

  <div class="summary-cards">
    <mat-card class="summary-card user-card">
      <div class="card-header">
        <mat-icon class="card-icon">people</mat-icon>
        <h2>Usuarios</h2>
      </div>
      <div class="card-content">
        <p>Gestiona los usuarios registrados en la plataforma</p>
        <button mat-raised-button color="primary" routerLink="/admin/usuarios" class="action-button">
          <mat-icon>group</mat-icon>
          Administrar Usuarios
        </button>
      </div>
    </mat-card>

    <!-- Tarjeta de Eventos -->
    <mat-card class="summary-card event-card">
      <div class="card-header">
        <mat-icon class="card-icon">event</mat-icon>
        <h2>Eventos</h2>
      </div>
      <div class="card-content">
        <p>Crea y administra los eventos programados</p>
        <button mat-raised-button class="action-button event-btn"  routerLink="/admin/eventos" class="action-button">
          <mat-icon>calendar_today</mat-icon>
          Gestionar Eventos
        </button>
      </div>
    </mat-card>

    <!-- Tarjeta de Reportes -->
    <mat-card class="summary-card report-card">
      <div class="card-header">
        <mat-icon class="card-icon">map</mat-icon>
        <h2>Reportes de Accesibilidad</h2>
      </div>
      <div class="card-content">
        <p>Gestiona los reportes ciudadanos sobre lugares con problemas de accesibilidad</p>
        <div class="action-buttons">
          <button mat-raised-button color="admin-card accent-reportes" routerLink="/admin/reportes" class="action-button">
            <mat-icon>list_alt</mat-icon>
            Ver Reportes
          </button>
          <button mat-flat-button color="admin-card accent-reportes" (click)="generateAccessibilityReport()" [disabled]="generatingReport" class="action-button">
            <mat-icon>picture_as_pdf</mat-icon>
            {{ generatingReport ? 'Generando...' : 'Exportar Reporte' }}
          </button>
        </div>
      </div>
    </mat-card>
</div>