<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="crear-tu-cuenta.component.scss">
  <title>Document</title>
</head>
<body>
<header>
  <div class="logo">
    <img src="imagenes/logo.PNG" alt="" width="200px">
    <img src="">
  </div>
  <nav>
    <button class="btn-registrar">Registrate</button>
  </nav>
</header>
<!-- SECCIÓN PRINCIPAL -->
<main>
  <section class="registro">
    <!-- IMAGEN DE FONDO -->
    <div class="imagen-de-Fondo">
      <img src="imagenes/imagenCrearcuenta.PNG" alt="imagenCrearcuenta">
    </div>
    <!-- CONTENEDOR DEL FORMULARIO -->
    <div class="registro-container">
      <div class="formulario">
        <div class="texto">
          <h2>Crea tu cuenta en “Sin Fronteras”</h2>
          <p>Únete a nuestra comunidad inclusiva</p>
        </div>

        <form action="#">
          <div class="campo">
            <label for="nombre">Nombre Completo:</label>
            <input type="text" id="nombre" placeholder="Coloca tu nombre completo">
          </div>

          <div class="campo">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Ingresa tu email">
          </div>

          <div class="campo">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" placeholder="Ingresa una contraseña">
          </div>

          <div class="campo">
            <label for="confirmar-contraseña">Confirmar Contraseña:</label>
            <input type="password" id="confirmar-contraseña" placeholder="Vuelve a escribir tu contraseña">
          </div>

          <div class="botones">
            <button type="submit" class="btn-registrarse">Registrarte</button>
            <button type="button" class="btn-empresa">Registrar como Empresa</button>
          </div>
        </form>
      </div>
      <!-- COLUMNA DERECHA: INICIAR SESIÓN -->
      <div class="iniciar-sesion">
        <p>¿Ya tienes una cuenta?</p>
        <button type="button" class="btn-iniciar">Iniciar Sesión</button>

        <hr>

        <div class="registro-social">
          <p>O si prefieres puedes registrarte con:</p>
          <div class="botones-sociales">
            <button class="btn-google">Google</button>
            <button class="btn-facebook">Facebook</button>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
<footer class="footer">
  <div class="footer-contenido">
    <img src="imagenes/footerLogo.PNG" alt="Logo Sin Fronteras">
    <p>© 2025 Sin Fronteras </p>
  </div>
</footer>

</body>
</html>
