<app-navbar></app-navbar>

<main class="detalle-admin-container">
  <section class="detalle-producto">
    <img src="imagenes/logo.PNG" alt="Muleta" class="producto-img" />

    <div class="info-producto">
      <p><strong>Título:</strong> Muletas Ajustables de Aluminio</p>
      <p><strong>Descripción Breve:</strong></p>
      <p>
        "Muletas ligeras y ajustables, diseñadas para brindar soporte y estabilidad a
        personas con movilidad reducida. Ideales para recuperación de lesiones o apoyo a largo plazo."
      </p>

      <p><strong>Detalles del Producto:</strong></p>
      <ul>
        <li>Material: Aluminio resistente y liviano</li>
        <li>Altura Ajustable: Sí</li>
        <li>Apoyo Ergonómico: Almohadillas acolchonadas para mayor comodidad</li>
        <li>Puntas Antideslizantes: Seguridad en diversas superficies</li>
        <li>Peso Máximo Soportado: 120 kg</li>
      </ul>

      <p><strong>Precio:</strong> $15</p>
      <p><strong>Disponibilidad:</strong> En stock</p>
      <p><strong>Categoría:</strong> Movilidad y Rehabilitación</p>
    </div>
  </section>

  <div class="acciones">
    <button class="btn agregar">Agregar</button>
    <button class="btn eliminar">Eliminar</button>
    <button class="btn editar">Editar</button>
  </div>
</main>

<app-footer></app-footer>
