<app-navbar></app-navbar>

<div class="container mt-5">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input
        id="email"
        type="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        placeholder="Ingresa tu email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        id="password"
        type="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        placeholder="Ingresa tu contraseña"
        required
      />
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>

  <div class="iniciar-sesion mt-3">
    <p>¿No tienes una cuenta?</p>
    <button type="button" class="btn btn-secondary" routerLink="/register">
      Regístrate
    </button>
    <button type="button" class="btn btn-secondary" routerLink="/registercompany">
      Iniciar Sesión como Empresa
    </button>
  </div>

  <div class="registro-social mt-3">
    <p>O inicia sesión con:</p>
    <div class="botones-sociales">
      <button class="btn btn-google">Google</button>
      <button class="btn btn-facebook">Facebook</button>
    </div>
  </div>
</div>

<app-footer></app-footer>