.login-admin-container {
  height: 100vh;
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
}

.login-card {
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}
