<app-navbar> </app-navbar> <!-- 🔹 Navbar reutilizable -->
<div class="filtros-container">
  <label>
    Tipo de contrato:
    <select [(ngModel)]="filtroContrato">
      <option value="">Todos</option>
      <option value="Tiempo completo">Tiempo completo</option>
      <option value="Medio tiempo">Medio tiempo</option>
    </select>
  </label>

  <label>
    Ubicación:
    <select [(ngModel)]="filtroUbicacion">
      <option value="">Todas</option>
      <option value="Santa Cruz">Santa Cruz</option>
      <option value="La Paz">La Paz</option>
      <option value="Cochabamba">Cochabamba</option>
      <option value="Trabajo remoto">Trabajo remoto</option>
    </select>
  </label>

  <label>
    Estado:
    <select [(ngModel)]="filtroEstado">
      <option value="">Todos</option>
      <option value="Activo">Activo</option>
      <option value="Cerrado">Cerrado</option>
    </select>
  </label>
</div>
<main class="job-board">
  <section class="job-card">
    <img src="imagenes/cosina.PNG" alt="Cocina">
    <div class="job-info">
      <h2>Cocina</h2>
      <p>Requerimos persona que cuente experiencia en cocina.</p>
      <a [routerLink]="['/trabajo', 'cocina']">
        <button>Ver Información</button>
      </a>


    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/garzon.PNG" alt="Garzon">
    <div class="job-info">
      <h2>Garzon</h2>
      <p>A subheading for this section, as long or as short as you like.</p>
      <a [routerLink]="['/trabajo', 'garzon']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/cuidador de niños.PNG" alt="Cuidador de Niños">
    <div class="job-info">
      <h2>Cuidador de Niños</h2>
      <p>Requerimos persona que cuente experiencia en cuidado.</p>
      <a [routerLink]="['/trabajo', 'cuidador-ninos']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/cuidador de perros.PNG" alt="Cuidador de perros">
    <div class="job-info">
      <h2>Cuidador de perros</h2>
      <p>A subheading for this section, as long or as short as you like.</p>
      <a [routerLink]="['/trabajo', 'cuidador-perros']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/traductor.PNG" alt="Traductor">
    <div class="job-info">
      <h2>Traductor</h2>
      <p>Requerimos persona que cuente experiencia en idiomas.</p>
      <a [routerLink]="['/trabajo', 'traductor']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>
</main>


<app-footer></app-footer> <!-- 🔹 Footer reutilizable -->
