<app-navbar> </app-navbar> <!-- 🔹 Navbar reutilizable -->

<div class="filtros-container">
  <label>
    Categoría:
    <select [(ngModel)]="filtroCategoria">
      <option value="">Todas</option>
      <option value="cocina">Cocina</option>
      <option value="garzon">Garzón</option>
      <option value="cuidador-ninos">Cuidador de Niños</option>
      <option value="traductor">Traductor</option>
    </select>
  </label>

  <label>
    Ubicación:
    <select [(ngModel)]="filtroUbicacion">
      <option value="">Todas</option>
      <option value="Las Palmas provincia">Cochabamba</option>
      <option value="Illes Balears provincia">Santa Cruz</option>
      <option value="Madrid">La Paz</option>
      <option value="Trabajo remoto">Sucre</option>
    </select>
  </label>

  <label>
    Empresa:
    <select [(ngModel)]="filtroEmpresa">
      <option value="">Todas</option>
      <option value="Aramark">Aramark</option>
      <option value="Melia Hotels">Melia Hotels</option>
      <option value="Fundación Niñez Segura">Fundación Niñez Segura</option>
      <option value="LinguaPro">LinguaPro</option>
    </select>
  </label>
</div>

<main class="job-board">
  <section class="job-card">
    <img src="imagenes/cosina.PNG" alt="Cocina">
    <div class="job-info">
      <h2>Cocina</h2>
      <p>Requerimos persona que cuente experiencia en cocina.</p>
      <a [routerLink]="['/trabajo', 'cocina']">
        <button>Ver Información</button>
      </a>


    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/garzon.PNG" alt="Garzon">
    <div class="job-info">
      <h2>Garzon</h2>
      <p>A subheading for this section, as long or as short as you like.</p>
      <a [routerLink]="['/trabajo', 'garzon']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/cuidador de niños.PNG" alt="Cuidador de Niños">
    <div class="job-info">
      <h2>Cuidador de Niños</h2>
      <p>Requerimos persona que cuente experiencia en cuidado.</p>
      <a [routerLink]="['/trabajo', 'cuidador-ninos']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/cuidador de perros.PNG" alt="Cuidador de perros">
    <div class="job-info">
      <h2>Cuidador de perros</h2>
      <p>A subheading for this section, as long or as short as you like.</p>
      <a [routerLink]="['/trabajo', 'cuidador-perros']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>

  <section class="job-card">
    <img src="imagenes/traductor.PNG" alt="Traductor">
    <div class="job-info">
      <h2>Traductor</h2>
      <p>Requerimos persona que cuente experiencia en idiomas.</p>
      <a [routerLink]="['/trabajo', 'traductor']">
        <button>Ver Información</button>
      </a>
    </div>
  </section>
</main>


<app-footer></app-footer> <!-- 🔹 Footer reutilizable -->
