<app-navbar></app-navbar>

<main class="carrito-wrapper">
  <section class="carrito-lista">
    <h2>Productos en tu Carrito</h2>

    <div class="carrito-item">
      <img src="imagenes/andador.jpg" alt="Andador con frenos" />
      <div class="info">
        <h3>Andador con frenos</h3>
        <p>Andador con ruedas y asiento incorporado para descanso</p>
        <p>Precio: $120.5</p>
        <p>Cantidad: 1</p>
      </div>
    </div>

    <div class="carrito-item">
      <img src="imagenes/muleta.jpg" alt="Bastón inteligente" />
      <div class="info">
        <h3>Bastón inteligente</h3>
        <p>Bastón con sensor de caídas y alerta GPS</p>
        <p>Precio: $79.99</p>
        <p>Cantidad: 1</p>
      </div>
    </div>

    <button routerLink="/marketplace" class="btn-volver">← Seguir comprando</button>

  </section>

  <aside class="resumen-pedido">
    <h2>Resumen del Pedido</h2>
    <p>Subtotal: $200.49</p>
    <p>Envío: Gratis</p>
    <p class="total">Total: $200.49</p>
    <button class="pagar-btn">Pagar</button>
  </aside>

</main>

<app-footer></app-footer>
