<app-navbar></app-navbar>
<div class="container mt-5">
  <h2>Registro de Empresa</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la Empresa</label>
      <input id="nombre" type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la empresa">
      <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">Correo Electrónico</label>
      <input id="correo" type="email" class="form-control" formControlName="correo" placeholder="Ingresa el email de la empresa">
      <div *ngIf="registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched" class="text-danger">
        Ingresa un correo válido.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
        La contraseña es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmarPassword" class="form-label">Confirmar contraseña</label>
      <input id="confirmarPassword" type="password" class="form-control" formControlName="confirmarPassword">
      <div *ngIf="registerForm.get('confirmarPassword')?.invalid && registerForm.get('confirmarPassword')?.touched" class="text-danger">
        Confirma tu contraseña.
      </div>
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input id="telefono" type="text" class="form-control" formControlName="telefono" placeholder="Teléfono de la empresa">
      <div *ngIf="registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched" class="text-danger">
        El teléfono es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" class="form-control" formControlName="descripcion" placeholder="Descripción de la empresa"></textarea>
      <div *ngIf="registerForm.get('descripcion')?.invalid && registerForm.get('descripcion')?.touched" class="text-danger">
        La descripción es obligatoria.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar Empresa</button>
  </form>

  <div class="iniciar-sesion mt-3">
    <p>¿Ya tienes una cuenta?</p>
    <button type="button" class="btn-iniciar" routerLink="/login">Iniciar Sesión</button>
  </div>

  <div class="registro-social mt-3">
    <p>O si prefieres puedes registrarte con:</p>
    <div class="botones-sociales">
      <button class="btn-google">Google</button>
      <button class="btn-facebook">Facebook</button>
    </div>
  </div>
</div>
<app-footer></app-footer>