<app-navbar></app-navbar>

<main>
  <!-- Sección de la imagen -->
  <div class="imagen-de-fondo"></div>

  <!-- Sección Azul con Título y Formulario -->
  <section class="seccion-azul">
    <h2 class="titulo">Registro de Empresa</h2>
    <p class="subtitulo">Únete a nuestra comunidad inclusiva</p>

    <div class="registro-container">
      <form [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
        <div class="formulario">
          <!-- Columna Izquierda -->
          <div class="columna">
            <div class="campo">
              <label for="nombre">Nombre de la Empresa:</label>
              <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre de la empresa">
              <div *ngIf="registerCompanyForm.get('nombre')?.invalid && registerCompanyForm.get('nombre')?.touched" class="text-danger">
                El nombre es obligatorio.
              </div>
            </div>
            
            <div class="campo">
              <label for="correo">Email:</label>
              <input type="email" id="correo" formControlName="correo" placeholder="Ingresa tu email">
              <div *ngIf="registerCompanyForm.get('correo')?.invalid && registerCompanyForm.get('correo')?.touched" class="text-danger">
                Ingresa un correo válido.
              </div>
            </div>
            
            <div class="campo">
              <label for="password">Contraseña:</label>
              <input type="password" id="password" formControlName="password" placeholder="Ingresa una contraseña">
              <div *ngIf="registerCompanyForm.get('password')?.invalid && registerCompanyForm.get('password')?.touched" class="text-danger">
                La contraseña es obligatoria.
              </div>
            </div>
            
            <div class="campo">
              <label for="confirmarPassword">Confirmar Contraseña:</label>
              <input type="password" id="confirmarPassword" formControlName="confirmarPassword" placeholder="Vuelve a escribir tu contraseña">
              <div *ngIf="registerCompanyForm.get('confirmarPassword')?.invalid && registerCompanyForm.get('confirmarPassword')?.touched" class="text-danger">
                Confirma tu contraseña.
              </div>
            </div>
          </div>

          <!-- Columna Derecha -->
          <div class="columna">
            <div class="campo">
              <label for="telefono">Teléfono:</label>
              <input type="text" id="telefono" formControlName="telefono" placeholder="Número de contacto">
              <div *ngIf="registerCompanyForm.get('telefono')?.invalid && registerCompanyForm.get('telefono')?.touched" class="text-danger">
                El teléfono es obligatorio.
              </div>
            </div>
            
            <div class="campo">
              <label for="descripcion">Descripción:</label>
              <textarea id="descripcion" formControlName="descripcion" placeholder="Descripción de la empresa"></textarea>
              <div *ngIf="registerCompanyForm.get('descripcion')?.invalid && registerCompanyForm.get('descripcion')?.touched" class="text-danger">
                La descripción es obligatoria.
              </div>
            </div>
            
            <div class="iniciar-sesion">
              <p>¿Ya tienes una cuenta?</p>
              <button type="button" class="btn-iniciar" routerLink="/login">Iniciar Sesión</button>
            </div>
          </div>
        </div>

        <button type="submit" class="btn-empresa" [disabled]="registerCompanyForm.invalid">Registrar como Empresa</button>

        <div class="registro-social">
          <p>O si prefieres puedes registrarte con:</p>
          <div class="botones-sociales">
            <button type="button" class="btn-google">Google</button>
            <button type="button" class="btn-facebook">Facebook</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>

<app-footer></app-footer>