   <!-- Icon Font Stylesheet -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
   <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
<!-- Footer Start -->
<div class="container-fluid bg-light mt-5 py-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Contacto</h5>
                <p class="mb-4">
                    Estamos comprometidos en mejorar la calidad de vida de las personas con discapacidad,
                    proporcionando dispositivos de asistencia, rutas de transporte adaptado a sus necesidades, foro de interacción y mucho más.
                </p>
                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>Av. Simón Lopez 456, Cochabamba, Bolivia</p>
                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>contacto&#64;asistenciadigital.com</p>
                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+591 777 888 999</p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Enlaces Rápidos</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Inicio</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Sobre Nosotros</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Marketplace</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Perfil</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Reportes Lugares Publicos</a>
                    <a class="text-body" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contacto</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Accesibilidad</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="bi bi-person text-primary me-2"></i>Foro Comunitario</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-circle text-primary me-2"></i>Movilidad y Transporte</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-eye text-primary me-2"></i>Discapacidad Visual</a>
                    <a class="text-body" href="#"><i class="bi bi-puzzle text-primary me-2"></i>Soluciones Personalizadas</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">¿Necesitas Ayuda?</h5>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Buscar...">
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </form>
                <h6 class="text-uppercase mt-4 mb-3">Síguenos en nuestras redes sociales</h6>
                <div class="d-flex">
                    <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-facebook"></i></a>
                    <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-linkedin"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>

            <div class="col-12 text-center text-body mt-4">
                <a class="text-body" href="">Términos y Condiciones</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Política de Privacidad</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Soporte Técnico</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Ayuda</a>
                <span class="mx-1">|</span>
                <a routerLink="/login-admin " class="text-body">Soy Administrador</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark text-white-50 py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white" href="#">Sin Fronteras</a>. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Diseñado para la Inclusión y Accesibilidad de los usuarios</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
